.question-box {
  position: absolute;
  bottom: 3%;
  width: 100vw;
  height: 30%; /* 問題框高度可以稍微高一點 */
  min-width: 100vw;
  background: rgba(73, 59, 59, 0.85);
  z-index: 1;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.question-box h3 {
  /* position: absolute; */
  margin-left: 5%;
  width: fit-content;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
}
.question-box .question-content {
  color: rgb(255, 255, 255); /* 問題文字顏色 */
  text-align: left; /* 文字靠左對齊 */
  margin-left: 5%; /* 保持與對話框標題的水平對齊 */
}

.question-box .question-content {
  font-size: 1.5rem; /* 問題內容字體大小 */
}

.choices-container {
  display: flex;
  justify-content: space-around; /* 選項按鈕平均分配空間 */
}

.choice-button {
  padding: 10px 10px;
  font-size: 1.2rem;
}
