/* ------------------------------------------------------------ */
/* ChallengeMode section */
/* ------------------------------------------------------------ */

.challenge-h1 {
  color: var(--color-primary-dark);
}
.challenge-lead {
  color: var(--color-primary-medium);
  font-weight: 600;
}
.challenge-container {
  background: var(--color-bg-primary);
}

.bg-time-left {
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  display: inline-block;

  background: var(--color-palette-dark-alpha-85);
  box-shadow: 0 2px 8px var(--color-palette-black-alpha-10);
  color: var(--color-palette-white);
}

.zombie-visual {
  padding: 1.5rem;

  background: var(--color-palette-white-alpha-70);
  box-shadow: 0 4px 24px 0 var(--color-palette-black-alpha-30);
}

.current-word-box {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  display: inline-block;

  background: var(--color-secondary-light);
  border: 2px solid var(--color-palette-black-alpha-175);
  box-shadow: 0 2px 8px var(--color-palette-black-alpha-10);
  color: var(--color-primary-dark);
}

.input-word-box {
  background: var(--color-palette-light-alpha-90-white);
  border: 2px solid var(--color-secondary-light);
  box-shadow: 0 2px 8px var(--color-palette-black-alpha-10);
}

.game-stats {
  font-size: 1.5rem;
}
.game-stats .charge {
  font-weight: bold;

  color: var(--color-primary-dark);
}
